<!DOCTYPE html> 
<html ng-app="myApp">
    <head>
        <title>Angular Table</title> 
        <link href="../Vendor/css/main.css" rel="stylesheet" type="text/css"/>
        <link rel="shortcut icon" href="favicon.ico">
    </head>
    <body  ng-controller="main-controller">
        <table data-simple-table data-table-settings="myTableSettings" class="mainTable">
                <tr ng-repeat="t in myTableSettings.getData() track by $index">
                    <td title="First" data-sort-by="Name">
                        {{t.first}}
                    </td>
                    <td  title='Second' data-sort-by="Country">
                        {{t.second}}
                    </td> 
                    <td title='Third'>
                        {{t.third}} 
                    </td>   
                </tr> 
        </table>
        <table data-simple-table data-table-settings="myTableSettings2" class="mainTableUsers">
                <tr ng-repeat="t in myTableSettings2.getData() track by $index">
                    <td title="#" data-sort-by="id">
                        {{t.id}}
                    </td>
                    <td title="Name" data-sort-by="Name">
                        {{t.name}}
                    </td>
                    <td  title='Country' data-sort-by="Country">
                        {{t.country}}
                    </td>
                    <td title='Age'>
                        {{t.age}}
                    </td>
                </tr>
        </table>
<!--        <table  class="table">
            <tr> 
                <th>
                    <a href="javascript:void(0)" ng-click="orderBy('index',!reverseSort)" ng-init="reverseSort">
                    #&nbsp;&nbsp;<span ng-show="field == 'index'"><span ng-show="!reverseSort">&#9650;</span><span ng-show="reverseSort">&#9660;</span></span>
                    </a> 
                </th>
                <th>
                    <a href="javascript:void(0)" ng-click="orderBy('order_id',!reverseSort)" ng-init="reverseSort">
                    <?php echo $text_invoice;?>&nbsp;&nbsp;<span ng-show="field == 'order_id'"><span ng-show="!reverseSort">&#9650;</span><span ng-show="reverseSort">&#9660;</span></span>
                    </a> 
                </th>
                <th>
                    <a href="javascript:void(0)" ng-click="orderBy('date',!reverseSort)" ng-init="reverseSort">
                    <?php echo $text_invoice_date;?>&nbsp;&nbsp;<span ng-show="field == 'date'"><span ng-show="!reverseSort">&#9650;</span><span ng-show="reverseSort">&#9660;</span></span>
                    </a> 
                </th> 
                <th>Download</th>
            </tr>
            <tr ng-repeat="invoice in result = (finalData() | limitTo:myfilter.nrPerPage) track by $index ">
                <td  >
                    {{invoice.index}}
                </td>
                <td  >
                    {{invoice.order_id}}
                </td> 
                <td >
                    {{invoice.formatted_date}} 
                </td> 
                <td  class="state" ng-bind-html="invoice.link">  
                </td>
            </tr>
        </table>    -->
        
        <nav>
            <ul  class="pagination" > 
              <li ng-repeat="page in getPagesNumber() track by $index"  ng-class="{disabled:$index+1 == myfilter.page}"   ng-click="myfilter.page = $index+1" >
                  <a href="javascript:void(0)" ng-if="$first"> 
                    <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li ng-repeat="page in getPagesNumber() track by $index"  ng-class="{disabled:$index+1 == myfilter.page}"   ng-click="myfilter.page = $index+1" >
                <a href="javascript:void(0)" > 
                    <span aria-hidden="true">{{$index+1}}</span>
                </a>
              </li>
              <li ng-repeat="page in getPagesNumber() track by $index"  ng-class="{disabled:$index+1 == myfilter.page}"   ng-click="myfilter.page = $index+1" >
                  <a href="javascript:void(0)" ng-if="$last"> 
                    <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
        
        
        
        <script src="../Vendor/JS/angular.min.js" type="text/javascript"></script>
        <script src="../Vendor/JS/angular-simple-table.js" type="text/javascript"></script>
        <script src="../Vendor/JS/myAngularApplication.js" type="text/javascript"></script>
    </body>
</html>
